body{
    background-color: black;
}
#containerLogo{
    width: 300px;
    height: 300px;
    border: 2px solid cyan;
    border-radius: 50%;

}
#imgLogo{
    
    background-image: url(./imagesApp/logo192.png);
    background-size: contain;
    width: 300px;
    height: 180px;
    

}
#titleWelcome{
    color: green;
    
}
#welcomeMaster{
    background-image: url("./imagesApp/codeG.gif");
   
}
#welcomeSecondMaster{
    background-color: rgba(0,0,0,0.8);

}
#checkUserMaster{
    height: 100vh;
    background-image: url("./imagesApp/codeG.gif");
}
#checkUserMask{
    background-color: rgba(0,0,0,0.7);
    height: 100vh;
}
#cardCheck{
    position: relative;
    top: 150px;
    background-color:rgba(24, 18, 18, 0.89);
}
#createUserMaster{
    height: 100vh;
    background-image: url("./imagesApp/codeG.gif");
}
#createUserMask{
    background-color: rgba(0,0,0,0.7);
    height: 100vh;
}
#cardUser{
    position: relative;
    top: 150px;
    background-color:rgba(24, 18, 18, 0.89);
}
#user{
    background-color: rgba(0,0,0,0.5);
    opacity: .50;
    color: greenyellow;
    font-weight: bold;
    border: 1px solid green;
}
#email{
    background-color: rgba(0,0,0,0.5);
    opacity: .50;
    color: greenyellow;
    font-weight: bold;
    border: 1px solid green;
}
#password{
    background-color: rgba(0,0,0,0.5);
    opacity: .50;
    color: greenyellow;
    font-weight: bold;
    border: 1px solid green;
}
#confirm_password{
    background-color: rgba(0,0,0,0.5);
    opacity: .50;
    color: greenyellow;
    font-weight: bold;
    border: 1px solid green;
}
#email:focus{
    border: 2px solid green;
}

#email::placeholder{
    color:green;
}

#password:focus{
    border: 2px solid green;
}

#password::placeholder{
    color:green;
}

#user:focus{
    border: 2px solid green;
}

#user::placeholder{
    color:green;
}

#confirm_password:focus{
    border: 2px solid green;
}

#confirm_password::placeholder{
    color:green;
}